#cabecera{
    height: 76px;
}

.bloque_contenido{
    width: 85%;
    margin-top: 0.5em;
    max-width: 100%;

} 

.horario{
    margin-bottom: 10px;
    margin-left: 7%;
    width: 100%;
    
}
.titulo_pagina{
   width: 590px;
}

.boton{
    width: 15%;
    
}

.botones_navegacion_semanal{
    margin-left: 40%;
}

.barra_horario{
    margin-bottom: 0.5em;
    padding-right: 10%;
}

.diaSemana{
    background-color: #aedff3;
   
}

.texto_titulo{
           width: 170px;
           font-size: 35px;
          
           padding-top: 0px;
    
         color: #008CBA;
}

.total_guardias{
   padding-left: 10%;
   font-size: 20px;
}
 .bg-celda-info{
         background-color: #008CBA;
        color: white;
        font-size: 1.2em;
        text-align: center;
    }


.celda{
            height:7em;
            border-color: #008CBA;
            border-width: 0.01em;
            border-style: solid;
            color: #008CBA;
            font-weight: bold;
        text-align: center;
    padding-left: 4px;
    z-index: 1;

            
        }

.celda_ausencia{
            height:8em;
            border-bottom: 0.01em solid #87CEEB; 
            color: #87CEEB;
            font-weight: bold;
        text-align: center;
    padding-left: 4px;

            
        }


.celda_ausencia_cierre{
            height:8em;
            border-right: 0.01em solid #87CEEB; 
            color: #87CEEB;
            font-weight: bold;
        text-align: center;
    padding-left: 4px;
    z-index: 1;
            
        }


    .celdaTituloH{
            flex: 0!important;
            width: 72px!important;
          
        }
     .celdaHora{
            flex: 0!important;
            width: 72px!important;
            padding-top: 40px;
            color: white;
            font-size: 1.2em;
        }

.celdaGuardias{
    background: #FFF;
border: 0.01em solid #008CBA !important;
color: #008CBA;
font-weight: bold;
}
       .boton_panel{
           width: 170px;
           height: 200px;
           font-size: 30px;
           text-align: center;
           padding-top: 60px;
            
       }

       .boton_panel_menu{
        color: #fff;
       background-color: #008CBA;
       border-color: #008CBA;
         
    }
    .boton_panel_menu:hover{
        color: #fff;
       background-color: #008CBA;
       border-color: #008CBA;
         
    }

    .boton_navegacion_semanal{
        color: #fff;
       background-color: #008CBA;
       border-color: #008CBA;
    }
    .boton_navegacion_semanal:hover{
        color: #fff;
       background-color: #008CBA;
       border-color: #008CBA;
    }

    .boton_listado{
        color: #fff;
       background-color: #008CBA;
       border-color: #008CBA;
    }

    .boton_listado:hover{
        color: #fff;
       background-color: #008CBA;
       border-color: #008CBA;
    }


    .horaActual{
        background-color: #87CEEB !important;
    }
       
       .panel{
           width: 900px;
           margin-left: 160px;
           margin-top: 160px;
       }
        table {
      /* display: block;*/
      overflow-x: auto;
    }

    .static {
      /* position: absolute;*/
      background-color: white;
      height: 100%;
      padding-right: 20px;
      width: 30px;
    }

    .first-col {
      padding-left:100.5px!important;
    }
    
    .ausencia{
            background-color: #C98F92!important;
            color: #FFF;
        }

    .hayTareas{
        visibility: visible;        
    }

    .sinOpciones{
         visibility: hidden;  
    }
        
    .desactive{
            background-color: darkgray!important;
     }
    .horaLibre{
        background-color: darkgray!important;
    }
    .horaDocencia{
        background-color: white;
    }
    .horaGuardia{
        color: #006283;
    }
    .btn-volver{
      float: right;
        margin-right: 120px;
    }
    .docente{
        color: #008CBA;
        font-size: 1.5em;
      
    }
    .icono_tarea{
        width: 20px;
    }

    .icono_observaciones{
        width: 20px;
    }

    .icono_peque{
        width: 20px;
    }
    .observacion{
        width: 100%;
        height: 100%;
    }

.datos_hora{
    width: 100%;
    height: 15%;
 
   
}
.opciones{
    float: left;
    width: 20%;
   
    margin-top: 3px;
     z-index: 10;
    

}
.contenido_hora{
    width: 80%;
    height: 85%;
    float: left;
   
    margin-top: 3px;
    margin-left: 0px;
    z-index: 10;
    
    
}

.textoTabla{
    color: #008CBA;
    font-size: 20px;

}

.texto_observacion{
    width: 100%;
    height: 50%;
    margin-top: 10%;
   
   
}

.observacion{
    color: black;
    font-weight: normal;
    color: white;
}

.filaAusencia{
     height:8em;
            border-bottom: 0.01em solid #87CEEB; 
            color: #87CEEB;
            font-weight: bold;
        text-align: center;
    padding-left: 4px;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
    color: white!important;
}
.button {
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 10px 24px;
}

.button2 { 
  background-color: white; 
  color: #008CBA; 
  border: 2px solid #008CBA;
} 

.button2:hover {
  background-color: #008CBA;
  color: white!important;
}

.button3 {
  background-color: white; 
  color: #4CAF50; 
  border: 2px solid #4CAF50;
} 

.button3:hover {
  background-color: #4CAF50;
  color: white!important;
}

.ausenciaSinGuardia {
    background-color: #87CEEB;
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 0px;
    width: 100%;
    
border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px none #000000;
}

.textoAusenciaSinGuardia{
     color: #87CEEB;
    font-weight: bold;
}

.textoDatosDocente {
    color: #008CBA;
    font-weight: bold;
}

.ausenciaConGuardia {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 1px 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 3px 0px;
    width: 100%;
    
border-radius: 15px 15px 15px 15px;
-moz-border-radius: 15px 15px 15px 15px;
-webkit-border-radius: 15px 15px 15px 15px;
border: 0px none #000000;
}

.textoAusenciaConGuardia{
   color: #008CBA;
    font-weight: bold;
}

.celda_cuadrante{
    width: 5%;
}
.celda_cuadrante{
    width: 25%;
}

tablaGuardias
{
  display: table;
  width: 100%;
}

.tablagen{
  display: table;
  width: 100%;
}
.fila{
  display: table-row;

    
}
.fila_hora{
display: table-row;

    
}
.col{
  display: table-cell;
    width: 15%;
  padding: 12px;
  background: #ddd;
    border-bottom: 0.01em solid #008CBA!important; 
color: #87CEEB;
font-weight: bold;

  
}

.col_hora{
  display: table-cell;
  
}

.contenedor {
    width: 95%;
    overflow: auto;
    padding: 1em;
    background: #000;
    margin: auto;
}

.fila2{
    border-bottom: 0.01em solid #008CBA!important; 

}
.celda_peque {
    float: left;
    background: #FFF;
    text-align: center;
    width: 5%; 
      border-bottom: 0.01em solid #008CBA!important; 
    color: #008CBA;
    font-weight: bold;

}

.celda_grande{
    float: left;
    background: #FFF;
    text-align: center;
    width: 95%; 
}

.numeroHora{
    background: #008CBA;
   
    width: 2%;
    border-bottom: 0.01em solid #FFF!important;   
    
}

.hora{
    color: #FFF;
    margin-top: 5%;
    font-weight: bold;
    font-size: 1.1em;
}

.celda2 {
    background: #FFF;
      
/*color: #87CEEB;
font-weight: bold;
*/
}

.celda2final {
    background: #FFF;
     border-right: 0.01em solid #008CBA!important;   
    color: #008CBA;
    font-weight: bold;

}

.contenedortabla{
    max-width: 100%;
    margin-right: 1%;
    margin-left: 1%;
}

.cabeceraTabla{
    background: #008CBA;
    color: #FFF;
    margin-bottom: 10px;
    border-color: white;
    border-width: 0.01em;
    border-style: solid;
}
.sinAusencias{
    color:limegreen;
     text-align: center;
    font-weight: bold;
}

.tabla_ausencias{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.tabla_ausencias td{
    padding: 8px 8px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.campoDatosLargo{
    width: 25%; 
}
.campoDatosCorto{
    width: 5%; 
}
.campoDatosAusencia{
      width: 10%; 
}
.campoDocentesAusentes{
    width: 12%; 
}
.campoGrupos{
    width: 8%; 
}
.campoAula{
    width: 8%;
}
.campoTarea{
    width: 5%;
}
.campoObservaciones{
    width: 15%;
}
.campoContador{
    width: 4%;
}
.campoDatosCorto{
    width: 5%; 
}

.campoDocente {
    padding-left: 16px!important;
}
.botonListaGuardias{
    color: #008CBA!important;
    padding-left: 35%;
}
.botonListaGuardias:hover{
    color: #008CBA!important;
}

.contenedor_nombre_docente{
    width: 80%; 
    position: relative;
    float: left;
    font-weight: bold;
}

.contenedor_numero_guardias{
    width: 10%; 
    position: relative;
    float: right;
}
.numeroGuardias{
   padding-left: 60%;
   font-size: 100% !important;
   color: #008CBA!important;

}

.badge_numeroTotalGuardiasDocente{
    display: inline-block;
    padding: .25em .4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #fff;
        background-color: #008CBA;
        font-size: 25px;
 
 }

.observaciones{
    color: #008CBA;
}

.filaGuardias{
    background-color: #008CBA;
}

/*************** SELECT ***********************/

.select {
    position: relative;
    border: 1px solid #87CEEB;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
  }
    
  .select:before {
      content: '';
      position: absolute;
      right: 5px;
      top: 7px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 7px 5px 0 5px;
      border-color: #000000 transparent transparent transparent;
      z-index: 5;
      pointer-events: none;
  }
    
  .select select {
      padding: 5px 8px;
      width: 130%;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      appearance: none;
  }


/************* CALENDARIO **************/
#calendar {
    font-family:Arial;
    font-size:12px;
    margin-left: 18%;
    margin-top: 20px;
}
#calendar caption {
    text-align:left;
    padding:5px 10px;
    background-color:#003366;
    color:#fff;
    font-weight:bold;
}

.celdaCalendario{
    color:#fff;
    font-size: 32px;
}

.hoy {

    background-color:red;
}
.festivo {

        color:red;
    }
.dianormal{
    background-color:#87CEEB;
     border: 1px solid #fff;
}

.diafuturo{
    background-color:silver;
     border: 1px solid #fff;
}

.tituloMes{
     font-weight: bold;
     font-size: 32px;
    margin-left: 20px;
    margin-right: 20px;
}
.cabeceraCalendario{
    text-align: center;
     color: #008CBA!important;
     
}
.tituloDias{
     color: #008CBA!important;
    font-size: 20px;
}
.navegacionMeses{
    margin-top: 10px;
    
}
.actual{
    background-color:#008CBA ;
}

.numeroGuardiasEnDia{
    color: #FFF!important;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;

}

.contenedorNumAusencias{
    margin-top: 20px;
    margin-left: 20px;

}

/************* FIN CALENDARIO **************/

/******** EDICIÓN HORARIO ********************/


.campo_edicion_horario{
    margin-top: 5px;
}



/***********************************/